body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

td {
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid black;
    font-family: sans-serif;
    font-weight: bold;
}

.color-picker{
    width: 500px;
    height: 35px;
    margin-bottom: 20px;
}